<p id="notice"><%= notice %></p>

<p>
  <strong>Name ru:</strong>
  <%= @product.name_ru %>
</p>
<p>
  <strong>Product code:</strong>
  <%= @product.product_code %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>List price:</strong>
  <%= @product.list_price %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @product.slug %>
</p>

<p>
  <strong>Description ru:</strong>
  <%= @product.description_ru %>
</p>

<p>
  <strong>Meta description ru:</strong>
  <%= @product.meta_description_ru %>
</p>

<p>
  <strong>Meta title ru:</strong>
  <%= @product.meta_title_ru %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
